.cs142-topbar-appBar {
  height: 60px;
  justify-content: center;
}

.app-bar-middle {
  display: flex;
  justify-content: center;
}

.app-bar-right {
  margin-left: auto;
}

.app-bar-right-inline{
  display: inline-flex;
}

.app-bar-right-inline-text {
  align-self: center;
  padding-right: 20px;
}
