.graphlist-root-2col{
    width: 30%;
}

.graphlist-root-1col{
    width: 100%;
}

.graphlist-div{
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
}

.expandedCell{
    height: 400px;
}

.graphlist-main{
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
}
