.graphlist-root-2col{
    width: 30%;
}

.graphlist-root-1col{
    width: 100%;
}

.graphlist-div{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.expandedCell{
    height: 400px;
}
